@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}
.tab {
  transition: background-color 0.2s;
}

.tab.active {
  background: #302875;
  color: #fff;
}
.content-container > div {
  display: none;
}

.content-container > div.active {
  display: block;
}
.image-container img {
  max-width: 100%;
  height: auto;
  display: none;
}

.image-container img.active {
  display: block;
}

.prose :where(*):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: inherit;
  color: inherit;
  line-height: inherit;
}
.prose :where(h1) {
  font-weight: 600;
}

* > img {
  margin-left: auto;
  margin-right: auto;
}
