@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}
.tab {
  transition: background-color 0.2s;
}

.tab.active {
  background: #302875;
  color: #fff;
}
.content-container > div {
  display: none;
}

.content-container > div.active {
  display: block;
}
.image-container img {
  max-width: 100%;
  height: auto;
  display: none;
}

.image-container img.active {
  display: block;
}

.prose :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(h6):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin: initial !important;
  color: inherit;
  line-height: inherit;
}

.prose.inline-items
  :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  display: flex;
  justify-content: center;
  gap: 0 60px;
}
.prose :where(h1),
.prose :where(h2),
.prose :where(h3) {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
p > img {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1392px) {
  header,
  section,
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
